* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

[data-bs-theme="dark"] {
  --bs-light: #292a2d;
  --bs-gray-100: #1f2122;
  --bs-gray-200: #3c3e41;
  --bs-gray-300: #5f5f68;
  --bs-gray-400: #a1a1a8;
  --bs-gray-500: #bfc0c9;
  --bs-gray-600: #c5c6cc;
  --bs-gray-700: #ffffffb3;
  --bs-gray-800: #ffffffd9;
  --bs-gray-900: #fff;
  --bs-body-bg: #161618;
  --bs-body-bg-rgb: #161618;
  --bs-body-color: #c4c5c7;
  --bs-heading-color: var(--bs-gray-900);
  --bs-mode: #191b1d;
  --bs-border-color: rgba(255, 255, 255, 0.07);
}
:root,
[data-bs-theme="light"] {
  --bs-blue: #1d3b53;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #e83e8c;
  --bs-red: #d6293e;
  --bs-orange: #fd7e14;
  --bs-yellow: #f7c32e;
  --bs-green: #0cbc87;
  --bs-teal: #20c997;
  --bs-cyan: #17a2b8;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #606261;
  --bs-gray-dark: #222427;
  --bs-gray-100: #f8f8f8;
  --bs-gray-200: #dce0e5;
  --bs-gray-300: #c5c5c7;
  --bs-gray-400: #96969a;
  --bs-gray-500: #85878a;
  --bs-gray-600: #606261;
  --bs-gray-700: #3e403f;
  --bs-gray-800: #222427;
  --bs-gray-900: #202124;
  --bs-primary: #09b850;
  --bs-white: #fff;
  --bs-secondary: #85878a;
  --bs-success: #0cbc87;
  --bs-info: #17a2b8;
  --bs-warning: #f7c32e;
  --bs-danger: #d6293e;
  --bs-light: #f8f8f8;
  --bs-dark: #202124;
  --bs-primary-rgb: 9, 184, 80;
  --bs-white-rgb: 255, 255, 255;
  --bs-secondary-rgb: 133, 135, 138;
  --bs-success-rgb: 12, 188, 135;
  --bs-info-rgb: 23, 162, 184;
  --bs-warning-rgb: 247, 195, 46;
  --bs-danger-rgb: 214, 41, 62;
  --bs-light-rgb: 248, 248, 248;
  --bs-dark-rgb: 32, 33, 36;
  --bs-primary-text-emphasis: #068138;
  --bs-secondary-text-emphasis: #5d5f61;
  --bs-success-text-emphasis: #08845f;
  --bs-info-text-emphasis: #107181;
  --bs-warning-text-emphasis: #ad8920;
  --bs-danger-text-emphasis: #961d2b;
  --bs-light-text-emphasis: #3e403f;
  --bs-dark-text-emphasis: #161719;
  --bs-primary-bg-subtle: #cef1dc;
  --bs-secondary-bg-subtle: #e7e7e8;
  --bs-success-bg-subtle: #cef2e7;
  --bs-info-bg-subtle: #d1ecf1;
  --bs-warning-bg-subtle: #fdf3d5;
  --bs-danger-bg-subtle: #f7d4d8;
  --bs-light-bg-subtle: #fcfcfc;
  --bs-dark-bg-subtle: #d2d3d3;
  --bs-primary-border-subtle: #9de3b9;
  --bs-secondary-border-subtle: #cecfd0;
  --bs-success-border-subtle: #9ee4cf;
  --bs-info-border-subtle: #a2dae3;
  --bs-warning-border-subtle: #fce7ab;
  --bs-danger-border-subtle: #efa9b2;
  --bs-light-border-subtle: #dce0e5;
  --bs-dark-border-subtle: #a6a6a7;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: "Inter", sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #606261;
  --bs-body-color-rgb: 96, 98, 97;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(96, 98, 97, 0.75);
  --bs-secondary-color-rgb: 96, 98, 97;
  --bs-secondary-bg: #dce0e5;
  --bs-secondary-bg-rgb: 220, 224, 229;
  --bs-tertiary-color: rgba(96, 98, 97, 0.5);
  --bs-tertiary-color-rgb: 96, 98, 97;
  --bs-tertiary-bg: #f8f8f8;
  --bs-tertiary-bg-rgb: 248, 248, 248;
  --bs-heading-color: var(--bs-gray-900);
  --bs-link-color: #09b850;
  --bs-link-color-rgb: 9, 184, 80;
  --bs-link-decoration: none;
  --bs-link-hover-color: #079340;
  --bs-link-hover-color-rgb: 7, 147, 64;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: var(--bs-gray-200);
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.313rem;
  --bs-border-radius-sm: 0.2rem;
  --bs-border-radius-lg: 0.4rem;
  --bs-border-radius-xl: 0.6rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0px 0px 40px rgba(29, 58, 83, 0.1);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(29, 58, 83, 0.15);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(29, 58, 83, 0.15);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: rgba(12, 188, 135, 0.8);
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: rgba(214, 41, 62, 0.5);
}
li {
  list-style: none;
}
body {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  -webkit-text-size-adjust: 100%;
  background: var(--bs-blue);
}
.mb-md-4 {
  margin-bottom: 1.6rem !important;
}
.ms-md-n5 {
  margin-left: -2.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.text-white {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
  text-align: center;
  font-size: 20px;
}
.avatar-xs {
  height: 2.4875rem;
  width: 2.4875rem;
}
.avatar-group > li:not(:last-child) {
  margin-right: -0.8rem;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.align-items-center {
  -webkit-box-align: center !important;
  -ms-flex-align: center !important;
  justify-content: space-around;
  align-items: center !important;
}
.d-inline-block {
  display: inline-block !important;
}
.position-absolute {
  /* width: 250px; */
  position: absolute !important;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.bg-dark {
  --bs-bg-opacity: 1;
  background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}
.rounded-4 {
  border-radius: var(--bs-border-radius-xl) !important;
}
img,
svg {
  vertical-align: middle;
}
img {
  max-width: 100%;
  height: auto;
}
.rounded-circle {
  border-radius: 50% !important;
}
.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.avatar-group > li {
  position: relative;
}
.avatar-group > li:not(:last-child) {
  margin-right: -0.8rem;
}
.avatar-group {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 700;
  line-height: 1.25;
  color: var(--bs-heading-color);
}
